node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
build/
dist/
out/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock
coverage/
*.lcov
.nyc_output/
jspm_packages/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.cache/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test/
tmp/
temp/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.firebase/
firebase-debug.log
firestore-debug.log
.vercel
.netlify/
storybook-static/
.netlify
.sentryclirc
webpack-stats.json
*.tsbuildinfo
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.stylelintcache
.svelte-kit
